<!DOCTYPE html>
<html>
<head>
    <title> {{ config.TITLE }} </title>
    <link rel="stylesheet" href="/static/style.css">
    
    </head>
<body>
    <div class="container">
        <div class="header">
            <h3>Control Panel</h3>
        </div>
                <div class="comp">
					{% if session['logged_in'] %}
										
						{% block control_panel %}{% endblock %}

					{% else %}
						{% block login %}{% endblock %}
						{% block register %}{% endblock %}
						
					{% endif %}
				</div>	
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>    
    <script src="../static/script.js"></script>        
    
</body>
</html>
